
<div class="col-sm-12 messages-options btn-group-vertical" role="group">
  <%= link_to 'Mensajes recibidos', messages_path(show: 'inbox'),
    class: "btn btn-primary #{active_conversation_box('inbox')}", type: 'button' %>
  <%= link_to 'Mensajes enviados', messages_path(show: 'outbox'),
    class: "btn btn-primary #{active_conversation_box('outbox')}", type: 'button' %>
</div>
