<ul class="nav nav-pills nav-stacked">
  <li role="navigation">
    <%= link_to 'Mensajes recibidos', messages_path(show: 'inbox') %>
  </li>
  <li role="navigation">
    <%= link_to 'Mensajes enviados', messages_path(show: 'outbox') %>
  </li>
</ul>
