
  <!-- Buscador de mensajes -->
  <div class=" search-messages input-group">
    <input type="text" class="form-control" placeholder="Buscar mensaje..." aria-describedby="search-input">
    <span class="input-group-btn" id="search-input">
      <button class="btn btn-default" type="button">
        <%= fa_icon 'search' %>
      </button>
    </span>
  </div>
  <!-- FIN Buscador de mensajes -->
