
<% if @user.images? or @user == current_user %>
<div class="images-container user-show-container">
  <div class="leftbar-name">Imágenes</div>
  <% if @user.images? %>
    <%= @user.images.each do |image| %>
      <%= image_tag image.image_url(:thumb_s), alt: image.title, class: ['col-sm-3', 'img-border'] %>
    <% end %>
  <% else %>
    <p class="text-center">No hay ninguna imagen.</p>
  <% end %>

  <div class="images-user-links text-left">
    <%= link_to 'Nueva imagen', new_image_path if current_user? %>
     | <%= link_to 'Ver todas', images_path %>
  </div>
</div>
<% end %>
