
<% if @user.images? or @user == current_user %>
<div class="user-show-container">
  <div class="leftbar-name">Imágenes</div>

  <div class="images-container">
    <% if @user.images? %>
      <div class="image-user-row">
        <% @user.images.order(id: :desc).first(9).each do |image| %>
        <div class="image-user">
          <%= link_to user_image_path(user_id: @user.id, id: image.id) do %>
            <%= image_tag image.image_url(:thumb), alt: image.title, class: ['img-border-black','img-responsive'] %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% else %>
      <p class="gap-left">No hay ninguna imagen.</p>
    <% end %>
  </div>

  <div class="row">
    <div class="user-links col-sm-12 gap-top text-left">
      <%= link_to 'Nueva imagen', new_image_path, class: 'btn btn-sm btn-link' if current_user? %> 
      <%= link_to 'Ver todas', user_images_path(user_id: @user), class: 'btn btn-sm btn-link' if @user.images? %>
    </div>
  </div>
</div>
<% end %>
