
<% if @user.instruments? %>
<div class="instruments-container user-show-container">
  <div class="leftbar-name">Instrumentos</div>

  <div class="instruments">
    <% @user.profile.musician_knowledges.each do |mk| %>
    <dl class="instrument">
      <dt class="instrument-name">- <%= mk.instrument.name %></dt>
      <dd class="instrument-level"><%= mk.level.name %></dd>
    </dl>
    <% end %>
  </div>

  <% if current_user? && page?('users', 'show') %>
  <div class="row">
    <div class="user-links col-sm-12 gap-top">
      <%= link_to 'Añadir instrumento',  user_edit_knowledges_path(user_id: current_user.id), class: 'btn btn-sm btn-link'  %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
