
<% if @user.instruments? %>
<div class="instruments-container user-show-container">
  <div class="leftbar-name">Instrumentos</div>
    <% @user.profile.musician_knowledges.each do |mk| %>
    <dl class="instrument">
      <dt class="instrument-name"><%= mk.instrument.name %></dt>
      <dd class="instrument-level"><%= mk.level.name %></dd>
    </dl>
    <% end %>
</div>
<% end %>
