
<% unless is_current_user? %>
<div class="options-container user-show-container">
  <div class="row">
    <%= link_to_send_message_to_user @user %>
    <%= link_to_follow_user @user %>
    <%= link_to_user_member @user %>
  </div>
</div>
<% end %>
