
<% page_title @page %>

<div class="row">
  <div class="col-md-3">
    <%= render 'musicians/musician_search' %>
  </div>

  <div class="col-md-9">
    <%= render 'users/index' %>
  </div>
</div>

<%= render 'scripts/dotdotdot' %>
