
<%= render 'layouts/page_header' %>

<% unless @users.blank?  %>
  <% @users.each do |user| %>
    <%= render 'users/user_thumbnail', user: user %>
  <% end %>
<% else %>
  <p class="no-data">Ningún usuario cumple los criterios</p>
<% end %>
