<%= render 'layouts/page_header' %>

<div class="row">
  <div class="col-sm-3">
    <%= render 'users/edit_left' %>
  </div>
  <div class="col-sm-9">
    <%= render 'users/form_profile' %>
  </div>
</div>
