<h1>Usuarios</h1>

<% unless @users.blank?  %>
<% @users.each do |user| %>
<div class="">
  <h3><%= link_to user.name, user_path(user.id) %></h3>
  <h5><%= user.profileable_type %></h5>
  <p>
    Ubicación: <%= user.city+", "+user.state %>
  </p>
</div>
<% end %>
<% else %>
<p>
  Aun no hay usuarios registrados
</p>
<% end %>
