
<% page_title @page %>

<div class="row">
  <div class="col-md-3 text-center">
    <%= render 'forms/user_search' %>
  </div>

  <div class="col-md-8">
    <%= render 'users/index' %>
  </div>
</div>

<%= render 'scripts/dotdotdot' %>
