<% page_title @page %>

<div class="row">
  <div class="col-md-3 user-show-left">
    <%= render 'users/show/left' %>
  </div>

  <div class="col-md-6 user-show-middle">
    <%= render 'users/show/center' %>
  </div>

  <div class="col-md-3 user-show-right">
    <%= render 'users/show/right' %>
  </div>
</div>
