<div id="event-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= title %></h4>
      </div>

      <div class="modal-body">
        <%= message.html_safe %>
      </div>

      <div class="modal-footer">
        <%= link_to 'Eliminar', event_path(@event), method: :delete, class: "btn btn-primary btn-md btn-block" %>
      </div>
    </div>
  </div>
</div>
