<% page_title @page %>

<div class="row">
  <div class="col-md-3 event-edit-left">
    <%= render 'events/user_module' %>
  </div>

  <div class="col-md-9 event-edit-main">
    <%= render 'events/form' %>
  </div>
</div>
