<% page_title @page %>

<div class="row">
  <% if @is_user_calendar %>
    <div class="col-md-3 event-index-right">
      <%= render "events/user_module" %>
    </div>
  <% end %>

  <div class="col-md-9">
    <%= render 'events/index' %>
  </div>

  <% unless @is_user_calendar %>
    <div class="col-md-3 event-index-right">
      <%= render "events/user_module" %>
    </div>
  <% end %>
</div>
