<% page_title @page %>

<div class="row">
  <div class="col-md-9">
    <%= render 'events/show' %>
  </div>

  <div class="col-md-3 event-show-right">
    <%= render "events/user_module" %>
  </div>
</div>
