
<% page_title %>

<style type="text/css">
  .landing-container {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
  }
</style>

<div class="landing container-fluid">
  <div class="row">
    <div class="landing-header col-sm-6 col-sm-offset-1 text-center">


    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 landing-left">
      <h1 class="landing-title text-right">S.A.M. <br>
        <small class="landing-sub-header">Sociedad Anónima Musical</small>
      </h1>
      <div>
        <%= image_tag "logo", class: 'logo-landing col-sm-8 col-sm-offset-4' %>
      </div>
    </div>
    <div class="col-sm-6 landing-right">

    </div>
  </div>
</div>
