
<% page_title %>

<style type="text/css">
  /* ref: http://stackoverflow.com/questions/14404801/random-background-picture-css-rails */
  html body {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
</style>


<div class="landing container-fluid">
  <!-- Espacio superior -->
  <div class="landing-blank ">
    <% flash.each do |name, msg| %>
      <% if name=='alert' %>
        <div class="alert <%= alert_class name %> alert-dismissible text-center gap-top">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><%= msg %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- END Espacio superior -->

  <!-- Espacio intermedio -->
  <div class="landing-container row">
    <!-- Parte izquierda -->
    <div class="col-sm-6 landing-left">
      <div class="pull-right">
        <div class="landing-logo">
        </div>
      </div>
    </div>
    <!-- Parte derecha -->
    <div class="col-sm-6 landing-right">
      <div class="col-sm-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <!-- END Espacio intermedio -->

</div>
