.ellipsis-control-container
  margin-bottom: 10px

.ellipsis-text
  max-height: 999px
  overflow: hidden
  transition: all 2s ease

.ellipsis-text.ellipsis
  $lines-to-show: 3

  text-overflow: ellipsis
  text-overflow: -o-ellipsis-lastline

  // Para navegadores no webkit
  max-height: $font-size-base * $line-height-base * $lines-to-show
  overflow: hidden
  transition: all 0.9s ease

.ellipsis-text.index-ellipsis
  $lines-to-show: 2

  text-overflow: ellipsis
  text-overflow: -o-ellipsis-lastline

  // Para navegadores no webkit
  max-height: $font-size-base * $line-height-base * $lines-to-show
  overflow: hidden
