
.form-signin-modal
  max-width: 330px
  padding: 15px
  margin: 0 auto

.form-signin
  max-width: 900px
  padding: 15px
  margin: 0 auto

.form-signup-modal
  max-width: 330px
  padding: 15px
  margin: 0 auto

.form-signup
  max-width: 900px
  padding: 15px
  margin: 0 auto
  .address-inputs
    margin-left: 50px

  .radio-buttons
    .radio
      padding-left: 50px
