.form-header
  background-color: darken($gray-lighter, 5%)
  padding-bottom: 5px
  margin-bottom: 20px
  color: lighten($gray-dark, 2%)
  border-bottom: 1px solid darken($gray-lighter, 10%)
  // background-color: darken($gray-lighter, 5%)
  // margin: 20px 10px
  // padding-bottom: 5px
  // border: border-radius

.form-container
  margin: 0 10px
  background-color: lighten($gray-lighter, 2%)
  border: 1px solid darken($gray-lighter, 10%)

.char-left
  margin-left: 15px
  color: $gray-light

.form-actions
  margin-top: 15px

.address-inputs
  margin-bottom: 15px
