.main
  background-color: lighten($gray-lighter, 1%)
  padding-top: 70px
  padding-bottom: 20px
  min-height: 700px

hr
  border-color: #ccc

.page-header
  margin-top: -15px
  padding-left: $grid-gutter-width * 2
  padding-right: $grid-gutter-width * 2
  &.border
    border-bottom: 1px solid #c6c6c6

.text-shadow
  text-shadow: 0 0 5px #000

.no-data
  text-align: center
  font-size: 24px
  font-weight: bold
  margin: 15px auto
