
.Facebook
  color: $facebook-color

.Twitter
  color: $twitter-color

.YouTube
  color: $youtube-color

.Instagram
  color: $instagram-color

.Soundcloud
  color: $soundcloud-color

.Website
  color: lighten($gray-light, 10%)

.Google-plus
  color: $gplus-color
