// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-user-date
  float: right

.events-user-links
  margin-top: -15px

.event-user-location
  margin-top: -15px

.event-user-type
  margin-bottom: -15px
  padding-bottom: -15px
