
////////////////// MISC
.img-border
  border: 1px solid #ccc

.image-header
  background-color: darken($gray-lighter, 5%)
  padding-bottom: 5px
  color: lighten($gray-dark, 2%)
  border-bottom: 1px solid darken($gray-lighter, 10%)


////////////////// FORM
.image-form-fields
  border: 1px solid darken($gray-lighter, 5%)
  padding: 10px
  margin: 10px 0
  background-color: lighten($gray-lighter, 2%)
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)

.image-new-container
  @extend .image-show-container

.image-new-links
  @extend .image-edit-links

.image-new-link
  @extend .image-edit-link


.image-edit-fields
  border-top: 1px solid darken($gray-lighter, 5%)
  padding: 10px

.image-edit-container
  @extend .image-show-container

.image-edit-links
  margin-left: 35px
  margin-bottom: 20px

.image-edit-link
  margin-left: -15px


////////////////// USER SHOW
.image-user-row
  @include make-row(0px)

.image-user-thumb
  @include make-sm-column(3, 0px)

.image-user
  @include make-sm-column(3, 0px)

.images-container
  padding: 0 10px
  margin-bottom: 15px


////////////////// SHOW

.image-show-container
  margin: 0 10px
  background-color: lighten($gray-lighter, 2%)
  border: 1px solid darken($gray-lighter, 10%)
  // @include border-bottom-radius(5px)

.image-container
  background-color: lighten($gray-light, 47%)
  height: 400px

.image
  display: block
  margin: 0 auto

.image-description-container
  padding: 10px 20px

.image-description-header
  font-weight: bold
  font-size: 20px
  color: lighten($gray-dark, 2%)
  margin-bottom: -5px

.image-description
  padding: 10px 20px

.image-link
  display: inline-block
  text-align: center
  border-collapse: collapse
  @include make-sm-column(3, 0px)
  border: 1px solid darken($gray-lighter, 10%)
  border-right: none
  &:first-of-type
    border-left: none
    @include border-top-radius(0)
  &:last-of-type
    border-right: none
    @include border-bottom-radius(0)

.image-author-link
  margin-top: 1px
  display: inline-block
  text-align: center
  border-collapse: collapse
  @include make-sm-column(6, 0px)
  border-top: 1px solid darken($gray-lighter, 10%)
  border-right: none
  &:first-of-type
    border-left: none
    @include border-top-radius(0)
  &:last-of-type
    border-right: none
    @include border-bottom-radius(0)


////////////////// INDEX
.images-index-container
  margin: 5px 15px

.image-index-thumb
  margin-top: 10px
  margin-bottom: 15px
  border: 1px solid darken($gray-lighter, 10%)

.image-index-links
  background-color: darken($gray-lighter, 2%)
  padding: 5px
