  <div class="modal-body">
    <%= message %>
  </div>

  <div class="modal-footer">
    <%= link_to 'Eliminar', participant_path(@event_participant), method: :delete, class: "btn btn-primary btn-md btn-block" %>
  </div>
