<!-- ref: http://stackoverflow.com/questions/22566072/rails-4-flash-notice -->
<% flash.each do |name, msg| %>
  <div class="alert <%= alert_class name %> alert-dismissible text-center gap-top">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p><%= msg %></p>
  </div>
<% end %>
