
<% page_title @page %>

<!-- Breadcrumb -->
<ol class="breadcrumb">
  <%= render_breadcrumbs tag: :li, separator: "" %>
</ol>

<!-- Cabecera -->
<div class="page-header border">
  <h1 class><%= @page %></h1>
</div>
