  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="/">S.A.M.</a> -->
        <%= link_to 'S.A.M.', root_path, class:["navbar-brand", "text-hide"] %>
      </div>

      <div id="nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= render "layouts/navbar_left" %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= render "layouts/navbar_right" %>
        </ul>
      </div>

    </div>
</nav>
