<div class="modal-body">
  <%= message %>
</div>

<div class="clearfix gap-top gap-bottom"></div>

<div class="modal-footer">
  <%= link_to 'Eliminar', @member, method: :delete, class: "btn btn-primary btn-md btn-block",
    data: {"disable-with": "Eliminando..." } %>
</div>
