<p>¡Buenas <%= @resource.name %>!</p>

<p>Desde S.A.M. nos ponemos en contacto contigo porque hemos recibido tu solicitud para restablecer tu contraseña. Podrás hacerlo a través del siguiente enlace:</p>

<p><%= link_to 'Restablecer mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado el cambio ignora este email, por favor.</p>
<p>Tu contrasela no cambiará hasta que accedas al enlace anterior y crees una nueva.</p>

<p>Saludos,</p>

<p>El equipo de S.A.M.</p>
